Repository Purple-Stock/open-erp, pull requests merged in 2023-10, with the labels that each got.

#262 Bling count orders in day
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/home_controller.rb
  app/jobs/bling_order_item_creator_job.rb
  app/models/bling_order_item.rb
  app/models/services/bling/order.rb
  app/views/home/index.html.erb
  db/migrate/20231002190444_add_date_to_bling_order_item.rb
  db/seeds.rb
  spec/factories/bling_data.rb
  spec/models/bling_datum_spec.rb
  spec/models/bling_order_item_spec.rb
  spec/models/services/bling/order_spec.rb
  spec/rails_helper.rb
  spec/requests/home_spec.rb
  spec/spec_helper.rb
  spec/vcr/bling_order_current_day.yml
  spec/vcr/bling_order_situation.yml
  spec/vcr/bling_order_situation_9.yml
Labels: bling

#269 fix environments/test.rb
  config/environments/test.rb
Labels: technical

#271 Feat/260 count current bling order items
  app/views/home/index.html.erb
  db/seeds.rb
  spec/factories/bling_order_items.rb
  spec/models/bling_order_item_spec.rb
  spec/requests/home_spec.rb
Labels: bling

#272 Staging
  app/views/home/index.html.erb
  db/seeds.rb
  spec/factories/bling_order_items.rb
  spec/models/bling_order_item_spec.rb
  spec/requests/home_spec.rb
Labels: bling

#280 Feat/259 permit stimates sales goals
  Gemfile
  Gemfile.lock
  app/controllers/home_controller.rb
  app/controllers/revenue_estimations_controller.rb
  app/helpers/revenue_estimations_helper.rb
  app/models/revenue_estimation.rb
  app/views/home/index.html.erb
  app/views/revenue_estimations/_form.html.erb
  app/views/revenue_estimations/edit.html.erb
  app/views/revenue_estimations/index.html.erb
  app/views/revenue_estimations/new.html.erb
  app/views/revenue_estimations/show.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/pt-BR.models.revenue_estimations.yml
  config/locales/pt-BR.yml
  config/routes.rb
  db/migrate/20231005211754_create_revenue_estimations.rb
  spec/factories/revenue_estimations.rb
  spec/helpers/revenue_estimations_helper_spec.rb
  spec/models/product_spec.rb
  spec/models/revenue_estimation_spec.rb
  spec/requests/revenue_estimations_spec.rb
Labels: bling

#283 fix revenue_estimations/index.html.erb: issue #259
  app/views/revenue_estimations/index.html.erb
Labels: bling

#284 Staging
  Gemfile
  Gemfile.lock
  app/controllers/home_controller.rb
  app/controllers/revenue_estimations_controller.rb
  app/helpers/revenue_estimations_helper.rb
  app/models/revenue_estimation.rb
  app/views/home/index.html.erb
  app/views/revenue_estimations/_form.html.erb
  app/views/revenue_estimations/edit.html.erb
  app/views/revenue_estimations/index.html.erb
  app/views/revenue_estimations/new.html.erb
  app/views/revenue_estimations/show.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/pt-BR.models.revenue_estimations.yml
  config/locales/pt-BR.yml
  config/routes.rb
  db/migrate/20231005211754_create_revenue_estimations.rb
  spec/factories/revenue_estimations.rb
  spec/helpers/revenue_estimations_helper_spec.rb
  spec/models/product_spec.rb
  spec/models/revenue_estimation_spec.rb
  spec/requests/revenue_estimations_spec.rb
Labels: bling

#290 fix home/index.html.erb: issue #259
  app/views/home/index.html.erb
Labels: bug

#294 Fix/count current orders
  app/controllers/home_controller.rb
  app/jobs/bling_order_item_creator_job.rb
  app/models/bling_order_item.rb
  app/models/services/bling/find_order.rb
  app/models/services/bling/order.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/routes.rb
  spec/jobs/bling_order_item_creator_job_spec.rb
  spec/models/bling_order_item_spec.rb
  spec/requests/home_spec.rb
  spec/vcr/all_situations_bling_order_items.yml
  spec/vcr/canceled_order_items_situation.yml
  spec/vcr/checked_order_items_situation.yml
  spec/vcr/in_progress_order_items_situation.yml
  spec/vcr/pending_order_items_situation.yml
  spec/vcr/printed_order_items_situation.yml
  spec/vcr/verified_order_items_situation.yml
Labels: bug, bling

#300 Feat/late shein orders
  Gemfile
  Gemfile.lock
  app/controllers/shein_orders_controller.rb
  app/helpers/shein_orders_helper.rb
  app/jobs/shein_orders_job.rb
  app/models/shein_order.rb
  app/views/home/index.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/shein_orders/_form.html.erb
  app/views/shein_orders/_shein_order.html.erb
  app/views/shein_orders/_shein_order.json.jbuilder
  app/views/shein_orders/edit.html.erb
  app/views/shein_orders/index.html.erb
  app/views/shein_orders/index.json.jbuilder
  app/views/shein_orders/new.html.erb
  app/views/shein_orders/show.html.erb
  app/views/shein_orders/show.json.jbuilder
  app/views/shein_orders/upload.html.erb
  config/locales/pt-BR.models.dashboards.yml
  config/routes.rb
  db/migrate/20231013152527_create_shein_orders.rb
  spec/factories/shein_orders.rb
  spec/helpers/shein_orders_helper_spec.rb
  spec/models/shein_order_spec.rb
  spec/routing/shein_orders_routing_spec.rb
  spec/views/shein_orders/edit.html.erb_spec.rb
  spec/views/shein_orders/new.html.erb_spec.rb
  spec/views/shein_orders/show.html.erb_spec.rb
Labels: shein

#311 Feat/261 done orders crrent alteration date
  app/controllers/home_controller.rb
  app/jobs/bling_order_item_creator_base_job.rb
  app/jobs/bling_order_item_creator_job.rb
  app/jobs/current_done_bling_order_item_job.rb
  app/models/bling_order_item.rb
  app/views/home/index.html.erb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  db/migrate/20231020155052_add_alteration_date_to_bling_order_items.rb
  spec/factories/bling_order_items.rb
  spec/jobs/current_done_bling_order_item_job_spec.rb
  spec/models/bling_order_item_spec.rb
  spec/vcr/verified_checked_order_items_situation.yml
Labels: bling
